body{
    background:white;
}

.container {
    display: flex;
}

.container img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
}


.container h1 {
    color: black;
}

.container h1 span {
    color: grey;
}

.left-col {
    width: auto;
    border: 50%;
}

.help{
    background-image: url("https://picsum.photos/id/651/750/300");
    height: 300px;
    color: orange; 
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.heading{
    height: 50px; 
    background-color: aliceblue;
    text-align: center; 
    opacity: 0.8;
} 
.head2{
    height: 50px;
    background-color: aliceblue;
    margin-top: 25px;
    text-align: center; 
    opacity: .8;
} 