<div class="row">
    <div class="col-10 offset-1">
        <h1>Contact</h1>
        <p>Hello, I'm contact.html</p>


        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3 row">
                    <label for="E-mail" class="col-sm-2 col-form-label">Your E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="E-mail" placeholder="Your email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Message" class="col-sm-2 col-form-label">Your Message</label>
                    <div class="col-sm-10">
                        <textarea id="Message" class="form-control" cols="80" rows="5"
                            placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
                <div class="col offset-11">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>