<!-- your html code here -->
<!-- Collab Project: Taylor & ROME -->
<div class="container-fluid">
    <div class="portfolio-header">
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Mauris luctus euismod varius.
        Maecenas vel commodo libero. Aenean pulvinar dolor sed ligula aliquam posuere.
        Duis a sapien nibh. Aenean scelerisque nunc justo, non ultricies purus placerat et.</p>
        </div>
        <div class="row">
            <div class="col-sm">
              <div class="card w-75 h-25">
                <img src="https://placekitten.com/200/140" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card w-75 h-25">
                <img src="https://placekitten.com/200/140" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card w-75 h-25">
                <img src="https://placekitten.com/200/140" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project Name</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          
          </div>
 

</div>