<!-- your html code here -->
<div class="container">
    <div class="heading">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Mauris luctus euismod varius.
    Maecenas vel commodo libero. Aenean pulvinar dolor sed ligula aliquam posuere.
    Duis a sapien nibh. Aenean scelerisque nunc justo, non ultricies purus placerat et.</p>
    </div>
    <div class="row">
    <div class="col-sm">
    <div class="card" style="width: 20rem;">
    <img src="https://placekitten.com/200/140" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-primary">Project name</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    </div>
    </div>
    <div class="col-sm">
    <div class="card" style="width: 20rem;">
    <img src="https://placekitten.com/200/139" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-primary">Project name</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm">
    
    </div>
    <div class="col-sm">
    <div class="card" style="width: 20rem;">
    <img src="https://placekitten.com/408/287" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-primary">Project name</h5>
    <p class="card-text bg-transparent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    </div>
    </div>
    </div>
    </div>