

<div class="container-fluid justify-content-center align-middle">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-8">
            <img class= "rounded-circle w-100" src="./assets/img/2.jpg" alt="hands on keyboard">
        </div>
        <div class="col-md-7 mt-5 pt-5">
            <h2 style="color:#ff6347">The Second Heading <span class="text-muted">Is The Coolest.</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem minima odit modi, vitae commodi perferendis natus, doloribus dolorem tempora repellat sunt ratione ipsum odio perspiciatis laudantium distinctio nemo soluta dolorum.</p>
        </div>
    </div>
</div>